.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mayun:before { content: "\e601"; }

.icon-zcool:before { content: "\e602"; }