.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 码云图标
.icon-mayun:before { content: "\e601"; }

// 站酷图标
.icon-zcool:before { content: "\e602"; }